<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello there!
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>

      <ion-title size="large">CleverTap Ionic App</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- functions removed, need to rework -->
  <ion-list>
    <ion-item>
      <ion-button expand="block" (click)="clickAlert()">Button One</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="presentModal()">CT Inbox (WIP)</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>User Properties</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >Push Profile</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >setMultiValuesForKey</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >removeValueForKey</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >addMultiValuesForKey</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >removeMultiValueForKey</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Identity Management</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >onUserLogin</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >removeMultiValueForKey</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >removeValueForKey</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >getCleverTapID</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Locations</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >Set Location</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >Get Location</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Events</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >pushEvent</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >pushChargedEvent</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>In-App</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >onInAppButtonClick</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >onInAppDismissed</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>App Inbox</ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>Push Notifications</ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>Native Display</ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>Custom Push Amplification Handling</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >processPushNotification</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >setCTPushAmpListener</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Product Config</ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label>Feature Flag</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >featureFlag</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >featureFlagsUpdated</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >getFeatureFlag</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Enable Debugging</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >setDebugLevel</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>App Personalization</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >enablePersonalization</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Attribution</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >pushInstallReferrer</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >getCleverTapAttributionIdentifier</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>GDPR</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >setOptOut</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >enableDeviceNetworkInfoReporting</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>Multi-Instance</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-button expand="block"  >setOffline</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >enablePersonalization</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="clickAlert()">Button One</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="presentModal()">CT Inbox (WIP)</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >Event Frequency</ion-button>
    </ion-item>
    <ion-item>
      <!-- (click)="pushChargedEvent1(?)" -->
      <ion-button expand="full">Push Charged Event 1</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full"  >Push Charged Event 2</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >View History</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >Geolocation</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >CT ID</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >Profile View</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="block"  >Time Elapsed</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full"  >Default (FCM) Token</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full"  >Xiaomi Token</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full"  >Baidu Token</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full"  >Huawei Token</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full">Alt Inbox</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<!--
<div id="container">
//id="container" sticks this div to the centre of the screen
<br/><br/><strong>Ready to create an app?</strong>
<p>Get started with CleverTap Cordova + Ionic<br/>
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/CleverTap/clevertap-cordova">
    View the repository</a></p>
</div>
-->
<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
